body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.button {
    background: rgba(0, 155, 183, 0.9);
    width: 100px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.button:disabled {
    background: rgba(0, 155, 183, 0.5);
    cursor: default;
}

.button:disabled:hover {
    background: rgba(0, 155, 183, 0.5);
}

.button:hover {
    background: rgba(0, 155, 183, 1);
    transition: all 0.2s ease-in;
}

.grid {
    display: grid;
    grid-template-areas: 'nav content';
    grid-template-columns: 3fr 9fr;
    grid-gap: 10px;
}

input {
    font-family: 'Roboto', sans-serif;
}
